/*! normalize.css */

/* public
-------------------------------------------------- */
.col-left{padding-left: 0px;}
.col-right{padding-right: 0px;}
.col-clear{padding: 0px;}
.row-top-narrow{margin-top: 15px;}
.row-top-wide{margin-top: 30px;}

/* header
-------------------------------------------------- */
.main-nav .tile {width: 100%;height: 150px;border: none;}
.main-nav .col-md-5,.main-nav .col-md-3{padding: 0px;}
.main-nav{background-color: #ffffff;margin-bottom: 30px;}
.sub-nav{background-color: #eeeeee;height: 40px;width: 100%;margin-bottom: 20px;}

/* banner
-------------------------------------------------- */
.banner{margin-bottom: 30px;}

/* content
-------------------------------------------------- */
.content .tile {width: 100%;height: 220px;border: none;}
.content .img-frame{height: 220px;overflow: hidden;}